:root {
  --blue: #d8c7ac;
  --navy: #b4ae9d;
  --aqua: #c9dee6;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  color: #2a2929;
  background-color: var(--navy);
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Quicksand" , sans-serif;
  margin-bottom: 0px;
}

.main-container {
  background-color: var(--navy);
  flex-direction: row;
  margin-top: 15px;
  position: relative;
  z-index: 500;
}

.content.content-main {
  margin-left: -10%;
}

.nav-left {
  /* background-color: rgb(195, 194, 192);
  padding: 10px; */
  z-index: 600;
  height: 70vh;
  flex-direction: column;
  justify-content: left;
  padding-top: 8%;
  margin-left: -6%;
  padding-left: 3%;
  display: flex;
  position: fixed;
  justify-content: space-between;
}


.left-nav-link {
  color: #1a1818;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 0 solid #000;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity .3s;
  display: block;
}

.left-nav-link:hover {
  opacity: 0.5;
  color: #1c1e23;
}

.left-nav-item {
  flex: 0 auto;
  transform: rotate(-90deg);
  padding: 5px;
}

.wrapper {
  justify-content: space-between;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 5%;
  position: relative;
  display: flex;
}

.wrapper::before {
  content: '';
  width: 3%; /* Adjust as needed */
  height: 100%;
  display: inline-block;
}

.header.swipe-up {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.section-right {
  float: right;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 5vh;
  display: flex;
  position: relative;
}

.description {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
}

.section-left {
  width: 100%;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin: 50px;
}

.nav {
  text-align: left;
}

.nav-link {
  z-index: 100;
  color: #1a1818;
  text-align: left;
  text-transform: uppercase;
  border: 0 solid #000;
  font-family: Kalnia, sans-serif;
  font-size: 11vw;
  font-weight: 300;
  line-height: .95em;
  text-decoration: none;
  transition: transform .3s ease-in-out, color .3s ease-in-out, font-size .3s ease-in-out;
  display: block;
  position: relative;
}

.nav-item {
  text-align: right;
  padding-right: 5%;
  display: inline-block;
  position: relative;
}   

.nav-link {
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover {
  transform: skewX(20deg);
  color: #6a8778; 
}


.aboutme-page img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 5%;
  transition: transform 0.3s ease;
}


.aboutme-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: black;
}

.aboutme-page:hover img {
  transform: scale(1.2);
}

.portfolio-page {
  color: black;
  height: 150vh;
  margin-left: 15%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.project {
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-page img {
  width: 400px;
  margin-top: 5%;
  border-radius: 5%;
}

.portfolio-page p {
  margin: 5%;
  font-size: .8rem;
}

.portfolio-page img:hover {
  width: 450px;
}

.deployed-link {
  color: black;
  text-shadow: 1px 1px 1px white;
}

.github-link {
  color: black;
  text-shadow: 1px 1px 1px white;
}


.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  text-align: center;
  color: black;
  margin: 5%;
  font-family: 'Kalnia', sans-serif;
  text-transform: uppercase;
}

/* p {
  color: black;
} */

input ,
textarea {
  border: 2px solid rgb(57, 46, 38);
  border-radius: 400px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(57, 46, 38);
  color: rgb(251, 249, 249);
  width: 200px;
}

.form button {
  border-radius: 400px;
  margin-top: 5%;
  font-family: 'Kalnia', sans-serif;
  text-transform: uppercase;
}

.form button:hover {
  background-color: rgb(235, 229, 229);
  color: black;
  border-color: #000;
}

.resume-page {
  margin: 5%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.resume-page a {
  color: rgb(234, 222, 234);
}

.resume-page a:hover {
  color: rgb(97, 51, 22);
}

.resume-page {
  height: 150vh;
  margin-top: 1%;
  color: black;
  font-size: 1.5rem;
}


@media (max-width: 480px) {
  body {
    font-size: 14px; 
  }

  header {
    flex-direction: column-reverse; 
  }

  ul {
    flex-direction: column;
    align-items: center; 
  }

  h1 {
    margin-right: 0; 
    margin-bottom: 1rem; 
  }

  .aboutme-page img {
    width: 50%; 
    height: auto; 
  }

  .portfolio-page img {
    width: 80%; 
    height: auto;
    margin-top: 2%; 
  }
  .resume-page img {
    width: 50%; 
    height: auto;
    margin-top: 2%; 
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px; /* Adjust as needed for better readability on small screens */
  }

  .main-container {
    margin: 10px; /* Adjust spacing for better appearance on small screens */

  }

  .content.content-main {
    margin-left: 0; 
  }

  .nav-left {
    height: auto;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    margin-left: 0;
    padding-left: 3%;
    position: static; /* Remove fixed positioning on small screens */
  }

  .left-nav-item {
    transform: rotate(0deg);
    padding: 5px;
  }

  .section-left {
    height: auto;
    margin: 50px; 
  }


  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}

.resume-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.resume-page img {
  display: flex;
  width: 60%;
  align-items: center;
}